$NAT-CYCLE-PURPLE: #72035d;
$NAT-CYCLE-PINK-100: #f5f3f3;

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: $NAT-CYCLE-PINK-100;

  flex-direction: column;
}

.form {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

mat-form-field {
  width: 270px;
}

.title {
  font-family: Open Sauce One;
  font-weight: 800;
  line-height: 135%;
  letter-spacing: -2%;
  color: $NAT-CYCLE-PURPLE;
}
.countdown {
  font-family: Open Sauce One;
  font-weight: 400;
  line-height: 150%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 99vw;
  text-align: center;
}

.title,
.countdown {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
